# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg
dist/
build/
*.so
.env

# Django
*.log
db.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnp.*

# Editor/OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
